* body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.square {
    border: 0.05px solid lightgrey;
    box-sizing: border-box;
}

#grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 32px;
    box-shadow: lightgray 0px 7px 29px 0px;
    border: 0.2px solid lightgrey;
}

#buttons {
    display: flex;
    gap: 32px;
}

.no-border {
    border: none;
}
