* body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.square {
    border: 2px solid gray;
    height: 55px;
    width: 55px;
    margin: 10px;
}

#grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}